{% load static %}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'Homepage/js/hubslider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Homepage/style/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>




<div class="container">
<div class="hub-slider">
  <div class="hub-slider-slides">
    <ul>
      <li><img class="slider-img" src="{% static 'Homepage/img/1.png' %}"></li>
      <li><img class="slider-img" src="{% static 'Homepage/img/2.png' %}"></li>
      <li><img class="slider-img" src="{% static 'Homepage/img/3.png' %}"></li>
      <li><img class="slider-img" src="{% static 'Homepage/img/1.png' %}"></li>
      <li><img class="slider-img" src="{% static 'Homepage/img/2.png' %}"></li>
    </ul>
  </div>

  <div class="hub-slider-controls">
    <button class="hub-slider-arrow hub-slider-arrow_next">↑</button>
    <button class="hub-slider-arrow hub-slider-arrow_prev">↓</button>
  </div>

</div>
</div>
    <script type="text/javascript">
        $(function () {

        $('.hub-slider-slides ul').hubSlider({
            selector: $('li'),
            button: {
                next: $('.hub-slider-arrow_next'),
                prev: $('.hub-slider-arrow_prev')
            },
            transition: '0.7s',
            startOffset: 30,
            auto: true,
            time: 2 // secondly
        });

                })
    </script>

</body>

